@charset "UTF-8";

:root {
  --dark-orang: #d88771;
  --dark-yelow: #e2c35d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

body {
  background-image: linear-gradient(120deg, #e2c35d, #d88771);
  color: #fff;
  font-family: "Lucida Sans";
}

header {
  font-size: 1.5rem;
  font-family: "Ubuntu", sans-serif;
}

header,
form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form input,
form button {
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  background: white;
}

form button {
  color: var(--dark-orang);
  background: white;
  cursor: pointer;
  transition: all 0.3s ease;
}

form button:hover {
  background: var(--dark-orang);
  color: white;
}
